@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #A8ff35;
    padding-bottom: 20px;
    margin: 2px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    transform-style: preserve-3d;
    perspective: 500px;
    animation: toggle__animation 3s infinite;
}

.switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    border-radius: 50px;
    background-color: #d8ff99;
    background-image: radial-gradient(at 21% 46%, hsla(183, 65%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 23% 25%, hsla(359, 74%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 1%, hsla(267, 83%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 86% 87%, hsla(204, 69%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 99% 41%, hsla(171, 72%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 55% 24%, hsla(138, 60%, 62%, 1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfefe;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.35em;
    transition: .4s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
        rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
    background-color: #ff99fd;
    background-image: radial-gradient(at 81% 39%, hsla(327, 79%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 11% 72%, hsla(264, 64%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 23% 20%, hsla(75, 98%, 71%, 1) 0px, transparent 50%);
}

.input__check:checked+.slider {
    background-color: #17202A;
}

.input__check:checked+.slider:before {
    transform: translateX(1.5em);
}

@keyframes toggle__animation {

    0%,
    100% {
        transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
    }

    50% {
        transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
}

.todo-head {
    font-size: 42px;
    color: #060602;
    font-family: "Roboto";
    font-weight: 100;
}

.todo-head-subpart {
    font-family: "Open Sans";
    font-weight: 900;
}

.input {
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    padding-left: 14px;
}

.Add-button {
    background-color: #060602;
    width: 90px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.todoitems-container {
    list-style-type: none;
}

.todoitem-container {
    display: flex;
    flex-direction: row;
}

.todoItem-task-container {
    background-color: #51e5a1;
    padding: 5px;
    padding-left: 12px;
    border-radius: 15px;
    margin: 15px;
    width: 95%;
    border-left: 8px solid #020102;
    display: flex;
}

.checkbox-input {
    height: 22px;
    width: 22px;
    margin-bottom: 18px;
}

.task-label-head {
    font-size: 24px;
    font-family: "Open Sans";
    color: #0a261f;
    font-weight: 600;
}

hr {
    border: 1px solid black;
}

.task-label-para {
    color: #0a261f;
    font-weight: bold;
}

.save-button {
    font-family: "Roboto";
    width: 80px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.delete-icon {
    margin-top: 22px;
    margin-left: 2px;
    color: red;
}

.input-delete-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checked-style {
    text-decoration: line-through;
}

/* Dark Theme */
.bg-container-dark {
    background-color: #2c2d31;
}

.todo-head-dark {
    color: white;
}